{% extends 'base.html' %}

{% block content %}

<h2>Student Registration</h2>

<form method="post">

<input type="text" name="name" placeholder="Name" class="form-control">

<input type="email" name="email" placeholder="Email" class="form-control mt-2">

<input type="password" name="password" placeholder="Password" class="form-control mt-2">

<input type="text" name="phone" placeholder="Phone" class="form-control mt-2">

<button class="btn btn-success mt-3">Register</button>

</form>

{% endblock %}