{% extends "base.html" %}
{% block content %}

<h2>My Applications</h2>

<div class="mb-3">
<a href="/student/dashboard" class="btn btn-primary">Back to Dashboard</a>
<a href="/logout" class="btn btn-danger">Logout</a>
</div>

<table class="table table-striped mt-3">
<tr>
<th>Company</th>
<th>Job Title</th>
<th>Description</th>
<th>Application Date</th>
<th>Status</th>
</tr>

{% for a in applications %}
<tr>
<td>{{a.company_name}}</td>
<td>{{a.job_title}}</td>
<td>{{a.description}}</td>
<td>{{a.application_date}}</td>
<td>{{a.status}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}